# debug via docker run -it ghcr.io/rust-cross/rust-musl-cross:riscv64gc-unknown-linux-musl /bin/bash
# image = "ghcr.io/rust-cross/rust-musl-cross:riscv64gc-unknown-linux-musl"
# image = "messense/rust-musl-cross:riscv64gc-musl"
[target.riscv64gc-unknown-linux-musl]
image = "ghcr.io/cross-rs/riscv64gc-unknown-linux-musl:local" # ghcr.io/cross-rs/riscv64gc-unknown-linux-musl:edgefin
linker = "riscv64-linux-gnu-gcc"
rustflags = ["-C", "link-args=-static"]

pre-build = [
#     "mkdir /opt/riscv",
#     "curl -L -o /tmp/musl-cross.tar.gz https://musl.cc/riscv64-linux-musl-cross.tgz",
#     "tar -xzf /tmp/musl-cross.tar.gz -C /opt/riscv",
#     "ln -s  /opt/riscv/riscv64-linux-musl-cross/bin/riscv64-linux-musl-g++ /usr/bin/riscv64-linux-musl-g++",
    "apt update && apt install libudev1 libudev-dev",
     "curl -L -o /tmp/usr-lib.tar.gz https://github.com/sandreas/rust-slint-riscv64-musl-demo/releases/download/usr-lib/usr-lib.tar.gz",
     "tar -xzf /tmp/usr-lib.tar.gz -C /x-tools/riscv64-unknown-linux-musl/riscv64-unknown-linux-musl/sysroot/",
    "chown -R crosstool:crosstool /x-tools/riscv64-unknown-linux-musl/riscv64-unknown-linux-musl/sysroot/",
    "ln -s /x-tools/riscv64-unknown-linux-musl/riscv64-unknown-linux-musl/sysroot/usr/lib/* /x-tools/riscv64-unknown-linux-musl/riscv64-unknown-linux-musl/sysroot/lib/ || true"
]

# libudev1 libudev-dev
# libinput-bin libinput-dev libinput10
# libxkbcommon0 libxkbcommon-dev
# libgbm1 libgbm-dev
# libudev1 libudev-dev libinput-bin libinput-dev libinput10 libxkbcommon0 libxkbcommon-dev libgbm1 libgbm-dev

[build.env]
passthrough = [
    "PKG_CONFIG_ALLOW_CROSS=1",
    "PKG_CONFIG_PATH=/usr/lib/riscv64-linux-musl/pkgconfig",
    # In the absence of a sysroot, the header files we install earlier (such as libfontconfig1-dev:riscv64) are in /usr/include
    # so remember to teach bindgen to also look there, despite its --target.
    "BINDGEN_EXTRA_CLANG_ARGS_riscv64gc_unknown_linux_musl=-I/usr/include",
    # "SLINT_BACKEND_LINUXFB=1",
    "SLINT_NO_QT",
    "SLINT_STYLE",
    "SLINT_TEST_FILTER",
    "SLINT_INTERPRETER_ERROR_WHITELIST"
]
