[target.riscv64gc-unknown-linux-musl]
image = "sandreas/cross-riscv64-linux-musl" #""ghcr.io/cross-rs/riscv64gc-unknown-linux-musl:local" # ghcr.io/cross-rs/riscv64gc-unknown-linux-musl:edgefin
linker = "riscv64-linux-gnu-gcc"
rustflags = ["-C", "link-args=-static"]

#pre-build = [
#]

pre-build = [
    "apt-get install -y --no-install-recommends libasound2-dev"
]

[build.env]
passthrough = [
    "PKG_CONFIG_ALLOW_CROSS=1",
    "PKG_CONFIG_PATH=/usr/lib/riscv64-linux-musl/pkgconfig",
    # In the absence of a sysroot, the header files we install earlier (such as libfontconfig1-dev:riscv64) are in /usr/include
    # so remember to teach bindgen to also look there, despite its --target.
    "BINDGEN_EXTRA_CLANG_ARGS_riscv64gc_unknown_linux_musl=-I/usr/include",
    # "SLINT_BACKEND_LINUXFB=1",
    "SLINT_NO_QT",
    "SLINT_STYLE",
    "SLINT_TEST_FILTER",
    "SLINT_INTERPRETER_ERROR_WHITELIST"
]
